:root {
    --container-display: block;
    --container-align: left;
    --container-justify: space-between;

    --content-display: flex;
    --content-style: none;
    --content-decoration: none;
    --content-radius: 3vw;
    --content-botton: 0 0 2vh 0;
    --content-padding: 2vw;
    --content-left: 3vh 0 0 0;
    --content-right: 6vh 0 0 0;

    --padding-left: 0 0 0 3vw;   
    --padding-right: 0 3vw 0 0;

    --icons-width: 12vw;
    
    --img-width: 100%;
    --img-max: 1200px;
    --img-radius: 0 0 3vw 3vw;
}