* {
    margin: 0;
    padding: 0;
}

html {
    margin: var(--html-margin);
}

body {
    color: var(--color-primary);
    background: var(--color-secondary);
    background: var(--body-gradient);
    background-attachment: var(--body-attachment);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    text-align: var(--body-text-align);
}

html, body {
    height: var(--html-height);
}

.profile {
    margin: var(--profile-margin);
}

.header, .profile {
    width: var(--header-width);
}

.avatar {
    width: var(--profile-width);
}

.name {
    font-size: var(--h1-font-size);
    margin: var(--h1-margin);
}

.description {
    font-size: var(--h2-font-size);
}

.container {
    text-align: var(--container-align);
}

.icons {
    list-style: var(--content-style);
}

.icons img {
    width: var(--icons-width);
}

.icons img, .avatar {
    border: var(--profile-border);
    border-radius: var(--profile-border-radius);
    padding: var(--profile-border-padding);  
}

.content, .header, .post, .icons {
    display: var(--content-display);
    justify-content: var(--container-justify);
}

.content li, .post ul li {
    background-color: var(--color-primary);
    border-radius: var(--content-radius);
    margin: var(--content-botton);
}

.content li, .post ul li, .icons img, .avatar {
    box-shadow: var(--profile-box-shadow);
}

.content h3, .post ul h3 {
    color: var(--color-tertiary);
    background-color: var(--color-secondary);
    border-radius: var(--h3-radius);
    padding: var(--content-padding);
    font-size: var(--h3-font-size);
}

.content a, .post ul a, .icons img{
    text-decoration: var(--content-decoration); 
}

.content span, .post ul span {
    color: var(--color-tertiary);
    padding: var(--content-padding);
    font-weight: var(--span-weight);
    font-size: var(--span-size);
}

.content img, .post ul img {
    max-width: var(--img-max);
    width: var(--img-width);
    border-radius: var(--img-radius);
}

.content .left {
    margin: var(--content-left);
    padding: var(--padding-right);
}

.content .right {
    margin: var(--content-right);
    padding: var(--padding-left);
}

.container, .profile, .content ul, .content li, .content img, .content a, .content span, .post ul, .post ul a, .post ul img, .post ul span, .icons img {
    display: var(--container-display);
    list-style: var(--content-style);
}

.footer {
    color: var(--color-primary);
    padding: var(--footer-botton);
    bottom: var(--footer-position);
}