:root {
    --font-family: 'Roboto', sans-serif;
    --font-weight: 600;

    --h1-font-size: 24px;
    --h1-margin: 20px 0 5px 0;

    --h2-font-size: 20px;
    --h2-margin: 0 0 0 0;

    --h3-font-size: 18px;
    --h3-margin: 0 0 0 0;
    --h3-radius: 3vw 3vw 0 0;
    
    --span-weight: 600;
    --span-size: 14px;
}