:root {
    --body-attachment: fixed;
    --body-background: var(--color-secondary);
    --body-color: var(--color-primary);
    --body-gradient: linear-gradient(180deg, var(--color-tertiary) 0%, var(--color-secondary) 100%);
    --body-text-align: center;

    --html-height: 100vh;
    --html-margin: 0 5vw;
    
    --footer-botton: 0 0 10px 0;
    --footer-position: 0;
}