:root {
    --color-primary: #fff7e7;
    --color-secondary: #efc880;
    --color-tertiary: #991830;
    --color-transparence: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--color-primary);
    font-family: 'Roboto', sans-serif;
}

.home {
    position: relative;
    background-size: cover;
    background: linear-gradient(180deg, var(--color-tertiary) 0%, var(--color-secondary) 100%);
    height: 14vh;
    background-attachment: fixed;
}

.home .header {   
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 2vh 2vw;
}

.home .header ul {
    display: flex;
    list-style: none;
}

.home .header ul li {
    display: flex;
    flex-direction: column;
}

.home .header ul li .logo {
    width: 10vh;
    border: 0.3vh solid var(--color-primary);
    box-shadow: 0.5vh 0.5vh 1vh var(--color-tertiary);
    border-radius: 15vh;
    padding: 0.2vh;
}

.home .header ul li h1 {
    font-size: 3vh;
    letter-spacing: 0.8vh;
}

.home .header ul li h2 {
    font-size: 2vh;
    letter-spacing: 0.2vh;
}

.home .header ul li h1,h2 {
    color: var(--color-secondary);
    font-family: 'Gloock', serif;
    font-weight: 700;
    text-transform: uppercase;
}

.home .header ul li span {
    font-size: 1.8vh;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.8vh;
}

.home .header ul li a {
    text-transform: uppercase;
    text-decoration: none;
}

.home .banner ul li img {
    width: 100vw;
    resize: both;
    overflow: auto;
}

.home .news {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 3vh 0;
}

.home .news ul {
    display: flex;
    list-style: none;
}

.home .news ul li {
    display: flex;
    flex-direction: column;
}

.home .news ul li h1 {
    font-size: 3vh;
    letter-spacing: 0.8vh;
    color: var(--color-tertiary);
    font-family: 'Gloock', serif;
    font-weight: 700;
    text-transform: uppercase;
}

.home .post {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
}

.home .post ul {
    display: flex;
    list-style: none;
}

.home .post ul li {
    display: flex;
    flex-direction: column;
    padding: 0 0 3vh 0;
}

.home .post ul li img {
    width: 80vw;
    resize: both;
    overflow: auto;
    border-radius: 2vh;
    box-shadow: 0.5vh 0.5vh 1vh var(--color-tertiary);
}

.home .about {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url("../imagens/loja.png");
    background-color: var(--color-primary);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vw;
}

.home .about ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    height: inherit;
    padding: 16vw;
    background-color: var(--color-transparence);
    background-size: cover;
    opacity: 0.6;
}

.home .about ul li {
    display: flex;
}

.home .about ul li h1 {
    font-size: 2.2vh;
    color: var(--color-primary);
    font-family: 'Gloock', serif;
    font-weight: 700;
    text-align: justify;
    text-transform: uppercase;
}

.home .about ul li span {
    font-size: 2vh;
    font-weight: 300;
    margin-top: 2vh;
    text-align: justify;
}
